/**
* I think element-ui's default theme color is too light for long-term use.
* So I modified the default color and you can modify it to your liking.
**/

/* theme color */
$--color-primary: #0F9B9C;     // 编辑  启用  下载
$--color-success: #0477E1;     // 详情
$--color-warning: #E89300;
$--color-danger: #E50808;        //删除

$--color-pigeonhole: #0F9C51;    // 归档
$--color-upload: #09ACF0;       // 上传
$--color-apply: #09C6C7;       // 审核
$--color-copy: #6994DD;       // 复制
$--color-publish: #0477E1;       // 发布
$--color-revocation: #251ABD;       // 撤回
$--color-cancel: rgba($color: #000000, $alpha: 0.15);       // 取消
// $--color-info: #1E1E1E;

$--button-font-weight: 400;

// $--color-text-regular: #1f2d3d;

$--border-color-light: #dfe4ed;
$--border-color-lighter: #e6ebf5;

$--table-border:1px solid#dfe6ec;

/* icon font path, required */
$--font-path: '~element-ui/lib/theme-chalk/fonts';

@import "~element-ui/packages/theme-chalk/src/index";

// the :export directive is the magic sauce for webpack
// https://www.bluematador.com/blog/how-to-share-variables-between-js-and-sass
:export {
  theme: $--color-primary;
}

// 撤回
.el-button--revocation.is-plain{
  color: #251ABD;
  background: #e7f5f5;
  border-color: #a49ff1;
}
.el-button--revocation.is-plain:hover{
  color: #e7f5f5;
  background: #251ABD;
  border-color: #251ABD;
}
// 归档
.el-button--pigeonhole.is-plain{
  color: #0F9C51;
  background: #e7f5f5;
  border-color: #a6c8b6;
}
.el-button--pigeonhole.is-plain:hover{
  color: #e7f5f5;
  background: #0F9C51;
  border-color: #0F9C51;
}
// 上传
.el-button--upload.is-plain{
  color: #09ACF0;
  background: #e7f5f5;
  border-color: #aed4e4;
}
.el-button--upload.is-plain:hover{
  color: #e7f5f5;
  background: #09ACF0;
  border-color: #09ACF0;
}
// 审核  会签  批准
.el-button--apply.is-plain{
  color: #09C6C7;
  background: #e7f5f5;
  border-color: #aee7e7;
}
.el-button--apply.is-plain:hover{
  color: #e7f5f5;
  background: #09C6C7;
  border-color: #09C6C7;
}
// 复制
.el-button--copy.is-plain{
  color: #6994DD;
  background: #e7f5f5;
  border-color: #b6c8e9;
}
.el-button--copy.is-plain:hover{
  color: #e7f5f5;
  background: #6994DD;
  border-color: #6994DD;
}
// 发布
.el-button--publish.is-plain{
  color: #0477E1;
  background: #e7f5f5;
  border-color: #aed2f3;
}
.el-button--publish.is-plain:hover{
  color: #e7f5f5;
  background: #0477E1;
  border-color: #0477E1;
}
// 取消
.el-button--cancel{
  color: #fff;
  background: rgba($color: #000000, $alpha: 0.15);
}
.el-button--cancel:hover{
  color: rgba($color: #000000, $alpha: 0.15);
  background: #e7f5f5;
}