$font-sm-size:14px;
$font-m-size:16px;
$font-l-size:18px;
$font-xl-size:20px;
$font-default-size:$font-sm-size;



// base color
$blue:#324157;
$light-blue:#3A71A8;
$red:#C03639;
$pink: #E65D6E;
$green: #30B08F;
$tiffany: #4AB7BD;
$yellow:#FEC171;
$panGreen: #30B08F;

// sidebar
$menuText:#EEF5F6;            // 静置一级按钮文字颜色
$menuTextHover:#0e9091;
$menuActiveText:#ffffff;       // 划过点击后文字颜色
$subMenuActiveText:#f4f4f5; // https://github.com/ElemeFE/element/issues/12951

$menuBg:#0e9091;             // 静置背景颜色
$menuHover:#0d8586;           // 划过点击后背景颜色
$sidebarTitle: #ffffff;

$menuLightBg:#ffffff;
$menuLightHover:#f0f1f5;
$sidebarLightTitle: #001529;

$subMenuBg:#0d8586;       // 二级菜单显示出来后的背景颜色
$subMenuHover:red;

$sideBarWidth: 224px;

// the :export directive is the magic sauce for webpack
// https://www.bluematador.com/blog/how-to-share-variables-between-js-and-sass
:export {
  menuText: $menuText;
  menuActiveText: $menuActiveText;
  subMenuActiveText: $subMenuActiveText;
  menuBg: $menuBg;
  menuHover: $menuHover;
  menuLightBg: $menuLightBg;
  menuLightHover: $menuLightHover;
  subMenuBg: $subMenuBg;
  subMenuHover: $subMenuHover;
  sideBarWidth: $sideBarWidth;
  sidebarTitle: $sidebarTitle;
  sidebarLightTitle: $sidebarLightTitle
}
