<!--
  模块名称：${tableComment}
  开发人员：${author}
  创建时间: ${nowDate}
-->
<template>
    <div>
        <!-- 详情参数配置对话框 -->
        <pagex-formDetail
                v-if="isDetail"
                :controls="controls"
                :init="init"
        >
        </pagex-formDetail>

        <!-- 编辑参数配置对话框 -->
        <pagex-form
                v-else
                :isEdit="isEdit"
                :addApi="addApi"
                :updateApi="updateApi"
                :data="formData"
                :init="init"
                :controls="controls"
                :buttons="buttons"
                :isVee="false"
        >

        </pagex-form>
    </div>
</template>
<script>
    import {mapGetters} from "vuex";
    export default {
        name: "${namespace}Form",
        inject: ["reloadable"],
        props: {
            isEdit: Boolean,
            init: Object,
            isDetail:Boolean,
        },
        computed: {
            ...mapGetters(["user"])
        },
        data() {
            return {
                formData:
                ${formData},
                addApi: "${microServiceName}/ms/${namespace}/",
                updateApi: "${microServiceName}/ms/${namespace}/",
                controls: [
                    ${controls}
                ]
            }
        },
        created() {

        },
        methods: {


        },
    };
</script>

<style lang="scss" scoped>
    ::v-deep .pageX-form-detail .type-file-span {
        height: 0px;
    }
</style>
