.combo-clear {
    background-color: #E0ECFF;
    width: 18px;
    height: 26px;
    overflow: hidden;
    display: inline-block;
    vertical-align: top;
    cursor: pointer;
    opacity: 0.6;
    padding-right:3px;
    filter: alpha(opacity=60);
    background: url('/images/easyui_remove.png') no-repeat center center;
}
.combo-clear-hover {
    opacity: 1.0;
    filter: alpha(opacity=100);
}
